In [1]:
import pandas as pd

In [2]:
date_cols = ['attempts_date_created', 'cl_date_assignment', 'cls_date_created']
df = pd.read_csv('wide_math.csv', parse_dates=date_cols, index_col=False)

In [9]:
df['attempts_date_created'] = df['attempts_date_created'].dt.floor('s')
df.to_csv('wide_math.csv')

In [3]:
df.head(2)

,assignment_level,attempts_date_created,cl_date_assignment,cl_id,cls_date_created,cls_student_id,course_id,is_solved,problem_id,subject_slug,team_id,team_level,tp_teacher_id
0,3,2022-03-08 11:02:37.137077+03:00,2022-03-05 13:00:00+03:00,71374307,2022-03-08 10:52:43.421971+03:00,1650006,5096626,1,97304,mathematics,82516,4,520541
1,3,2022-03-08 11:02:49.051127+03:00,2021-09-02 14:23:50+03:00,70879797,2022-03-08 11:02:08.385070+03:00,1494142,5099807,1,227546,mathematics,69290,4,615530

- assignment_level - класс, когда он решал
- attempts_date_created - время поптыки
- cl_date_assigment - время выдачи задачи
- cl-id - id урока, который выдан студентам этого класса. урок - набор карточек, который выдал учитель.
- cls_date_created - когда приступил к уроку
- cls_student_id - id ученика
- course_id - id курса (предмет-учитель-assignment_level)
- is_solved - решена ли задача
- problem-id - id задачи
- subject_slug - предмет
- team-id - id класса
- team_level - текущик класс ученика
- tp_teacher_id - id препода

In [17]:
mark_up_math = pd.read_excel('markup_math.xlsx')
mark_up_math= mark_up_math[1:]

In [18]:
mark_up_math.head(4)

,attributes,limits,problem_id,skills,stack_id,units
1,NaN,В пределах 20,78236,решать задачи на нахождение числа элементов п...,27125,NaN
2,NaN,В пределах 20,78236,сравнивать/упорядочивать числа меньшие или рав...,27125,NaN
3,NaN,В пределах 20,78236,\nрешать задачи на упорядочивание множеств /ве...,27125,NaN
4,NaN,NaN,60086,"находить долю величины (половина, треть, четве...",27086,NaN

In [19]:
mark_up_math['skills'].str.split('\n')

1         [решать задачи на нахождение числа элементов  ...
2         [сравнивать/упорядочивать числа меньшие или ра...
3         [, решать задачи на упорядочивание множеств /в...
4         [находить долю величины (половина, треть, четв...
5         [решать логические  задачи с использованием  п...
                                ...
109076    [находить способ решения нестандартной арифмет...
109077    [находить способ решения нестандартной арифмет...
109078    [решать логические задачи  без предложенной мо...
109079                    [различать понятие числа и цифры]
109080    [находить способ решения нестандартной арифмет...
Name: skills, Length: 109080, dtype: object