In [1]:
import pandas as pd

In [ ]:
date_cols = ['attempts_date_created', 'cl_date_assignment', 'cls_date_created']
df = pd.read_csv('wide_math.csv', parse_dates=date_cols)

In [4]:
df.head(2)

,Unnamed: 0,assignment_level,attempts_date_created,cl_date_assignment,cl_id,cls_date_created,cls_student_id,course_id,is_solved,problem_id,subject_slug,team_id,team_level,tp_teacher_id
0,0,3,2022-03-08 11:02:37.137077+03:00,2022-03-05 13:00:00+03:00,71374307,2022-03-08 10:52:43.421971+03:00,1650006,5096626,1,97304,mathematics,82516,4,520541
1,1,3,2022-03-08 11:02:49.051127+03:00,2021-09-02 14:23:50+03:00,70879797,2022-03-08 11:02:08.385070+03:00,1494142,5099807,1,227546,mathematics,69290,4,615530

- assignment_level - класс, когда он решал

- team-id - id класса
- assigment_level - класс когда он решал
- cl-id - id урока
- cls

- team_level - год обучения (класс)
- probel_id - id задачи

In [7]:
df['attempts_date_created'][:100].dt.floor('M')

'2022-03-08 11:02:37.137077+03:00'