In [5]:
import pandas as pd

In [6]:
date_cols = ['attempts_date_created', 'cl_date_assignment', 'cls_date_created']
df = pd.read_csv('wide_math.csv', parse_dates=date_cols, index_col=False)

In [11]:
df['attempts_date_created'] = df['attempts_date_created'].dt.floor('s')
df['cls_date_created'] = df['cls_date_created'].dt.floor('s')

In [4]:
df.to_csv('wide_math.csv', index=False)

In [9]:
df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1).to_csv('wide_math.csv', index=False)

In [ ]:
df = df.drop(['Unnamed: 0.1', 'Unnamed: 0'], axis=1)

In [12]:
df.head(2)

,assignment_level,attempts_date_created,cl_date_assignment,cl_id,cls_date_created,cls_student_id,course_id,is_solved,problem_id,subject_slug,team_id,team_level,tp_teacher_id
0,3,2022-03-08 11:02:37+03:00,2022-03-05 13:00:00+03:00,71374307,2022-03-08 10:52:43+03:00,1650006,5096626,1,97304,mathematics,82516,4,520541
1,3,2022-03-08 11:02:49+03:00,2021-09-02 14:23:50+03:00,70879797,2022-03-08 11:02:08+03:00,1494142,5099807,1,227546,mathematics,69290,4,615530

- assignment_level - класс, когда он решал
- attempts_date_created - время поптыки
- cl_date_assigment - время выдачи задачи
- cl-id - id урока, который выдан студентам этого класса. урок - набор карточек, который выдал учитель.
- cls_date_created - когда приступил к уроку
- cls_student_id - id ученика
- course_id - id курса (предмет-учитель-assignment_level)
- is_solved - решена ли задача
- problem-id - id задачи
- subject_slug - предмет
- team-id - id класса
- team_level - текущик класс ученика
- tp_teacher_id - id препода

In [17]:
mark_up_math = pd.read_excel('markup_math.xlsx')
mark_up_math= mark_up_math[1:]

In [18]:
mark_up_math.head(4) # очень грязные данные((((

,attributes,limits,problem_id,skills,stack_id,units
1,NaN,В пределах 20,78236,решать задачи на нахождение числа элементов п...,27125,NaN
2,NaN,В пределах 20,78236,сравнивать/упорядочивать числа меньшие или рав...,27125,NaN
3,NaN,В пределах 20,78236,\nрешать задачи на упорядочивание множеств /ве...,27125,NaN
4,NaN,NaN,60086,"находить долю величины (половина, треть, четве...",27086,NaN

In [46]:
med_date = df['attempts_date_created'].median()
med_user = df['cls_student_id'].median()

In [43]:
post_df = df[df['attempts_date_created'] > mean_date]
before_df = df[df['attempts_date_created'] <= mean_date]

In [44]:
len(set(post_df['problem_id']).difference(set(before_df['problem_id'])))

6402

Если отсекать по датасет по времени, то есть куча задач, про которые мы не знаем, так как нет информации прошлых лет их решения. Предлагаю делить датасет по времени и пользователям и взять 1/4 от датасета для валидации

In [47]:
test_index = (df['cls_student_id'] > med_user) & (df['attempts_date_created'] > med_date)
train_index = ~test_index

In [97]:
df_train = df[train_index]
df_test = df[test_index]

In [ ]:
df_train = df_train.groupby(by=['problem_id', 'cls_student_id']).apply(g)

In [120]:
def g(a):
    if a.shape[0] == 1:
        return 0
    for i in range(1, a.shape[0]):
        assert a['attempts_date_created'].iloc[i-1] <= a['attempts_date_created'].iloc[i]
        if not a['is_solved'].iloc[i-1] <= a['is_solved'].iloc[i]:
            global b
            b = a
            assert False 
    return 0

In [121]:
df_test = df[test_index]
df_test = df_test.sort_values(by=['problem_id', 'cls_student_id', 'attempts_date_created', 'is_solved'])
df_test = df_test.groupby(by=['problem_id', 'cls_student_id']).apply(g)

AssertionError:

In [125]:
b

,assignment_level,attempts_date_created,cl_date_assignment,cl_id,cls_date_created,cls_student_id,course_id,is_solved,problem_id,subject_slug,team_id,team_level,tp_teacher_id
5103042,3,2022-04-08 17:47:21+03:00,2022-04-08 13:34:41.357428+03:00,75609039,2022-04-08 17:46:36+03:00,1525081,5096090,1,32058,mathematics,76711,4,502557
59258,3,2022-04-16 07:01:31+03:00,2022-04-15 13:28:07.506886+03:00,77019744,2022-04-16 07:00:50+03:00,1525081,5096090,0,32058,mathematics,76711,4,502557
1561490,3,2022-04-16 07:01:39+03:00,2022-04-15 13:28:07.506886+03:00,77019744,2022-04-16 07:00:50+03:00,1525081,5096090,1,32058,mathematics,76711,4,502557

In [128]:
b[['cl_date_assignment', 'attempts_date_created','problem_id', 'cls_student_id', 'is_solved']]

,cl_date_assignment,attempts_date_created,problem_id,cls_student_id,is_solved
5103042,2022-04-08 13:34:41.357428+03:00,2022-04-08 17:47:21+03:00,32058,1525081,1
59258,2022-04-15 13:28:07.506886+03:00,2022-04-16 07:01:31+03:00,32058,1525081,0
1561490,2022-04-15 13:28:07.506886+03:00,2022-04-16 07:01:39+03:00,32058,1525081,1